@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}
ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
}
:root {
  --brand: #21b573;
  --second: #413960;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 12px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  max-width: 1200px;
  margin: auto;
  background: #f0fff0;
  padding: 33px 0;
}

nav span {
  font-size: 33px;
}

.nav-btn {
  background: var(--brand);
  padding: 5px 20px;
  color: white;
  border-radius: 33px;
}
.btn {
  background: var(--brand);
  padding: 10px 20px;
  color: white;
  border-radius: 33px;
  text-decoration: none;
  display: inline-block;
}
.btn:hover,
.nav-btn:hover,
.course-btn:hover {
  box-shadow: inset 0 100px 0 0 red;
  transition: ease-out 0.9s;
}
nav a:hover {
  color: white;
  background: orange;
  border-radius: 20px;
  padding: 5px 10px;
  transition: ease-in 0.5s;
}
.hero-content-left {
  width: 100%;
}
.hero-content-right {
  width: 100%;
}
.wrap {
  flex-wrap: wrap;
}
.w-100 {
  width: 100%;
}
.flex-dir {
  flex-direction: column;
}
.features {
  padding: 100px;
}
.hero-content-subtitle {
  color: #fd511a;
}
.hero-content-title {
  font-size: 30px;
}
.hero-content-title span {
  color: var(--brand);
}
.hero-content-right p {
  padding-bottom: 20px;
}
.courses {
  padding: 50px 0;
}
.courses h2 {
  text-align: center;
  color: var(--second);
}
.f-box {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  gap: 5px;
}
.f-box img {
  width: 66px;
  height: 85px;
}
.f-box h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: var(--second);
}
.f-box:hover {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
}
.courses-box {
  border-radius: 18px;
  background: #fff;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.gap {
  gap: 5px;
}
.course-btn {
  background: var(--brand);
  padding: 2px 15px;
  color: white;
  border-radius: 33px;
  text-decoration: none;
  display: inline-block;
}
.testimonial {
  padding: 50px 0;
}
.testimonial h2 {
  text-align: center;
  color: var(--second);
  font-size: 36px;
}
.testimonial .w-100 {
  width: 100%;
}
.testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  gap: 50px;
  padding: 25px;
}
footer {
  background: #282531;
  padding: 30px 0;
  color: #fff;
}
footer a {
  color: #fff;
  text-decoration: none;
}
.footer-box {
  width: 100%;
  padding: 30px 0;
}
/* .size-1 {
  width: 400px;
} */
.copyright {
  text-align: center;
}
.show {
  display: block;
}
@media (min-width: 992px) {
  nav ul {
    display: flex;

    gap: 25px;
  }
  nav span {
    display: none;
  }

  .hero-content-right {
    width: 40%;
    order: 1;
  }
  .hero-content-left {
    width: 60%;
    order: 2;
  }
  .flex-dir {
    flex-direction: row;
  }
  .hero-content-title {
    font-size: 48px;
  }
  .courses h2 {
    font-size: 36px;
    padding: 25px;
  }
  .courses-box {
    width: 33%;
  }
  .testimonial-content {
    width: 60%;
    margin: auto;
  }
  .testimonial .w-100 {
    width: 100%;
  }

  .footer-box {
    width: 23%;
  }
}
@media (max-width: 992px) {
  nav ul {
    display: none;
    width: 150px;

    background: var(--second);
    position: absolute;
    right: 0;
    padding: 20px;
  }
}
